@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

@plugin '@tailwindcss/forms';

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: var(--font-inter);
}

body {
  @apply text-neutral-800 dark:bg-neutral-950 bg-white dark:text-neutral-200;
}

button {
  @apply cursor-pointer;
}

input {
  @apply placeholder:text-neutral-400 dark:placeholder:text-neutral-600;
}